<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Practical CSS3 tables with rounded corners - demo</title>
    <link rel="stylesheet" href="~/css/table.css" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
